* {
    box-sizing: border-box;
    margin: 0;
}
body {
    text-align: center;
    background-color: whitesmoke;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin: 30px 150px;
}

.main-article--image {
    box-shadow: -4px 4px 5px grey;
}

section h1 {
    font-size: 2em;
}
main-article h1 {
    font-size: 2em;
}

.missionStatementHeader {
    font-size: 1.5em;
}

.mission-statement-text {
    margin: 10px 300px;
    text-align: left;
}

li {
    list-style: none;
}

section {
    padding: 10px;
}
